# linear Search
def linear_search(list_num, check_number):
    list_1 = list_num.split()
    update_list = []
    for i in list_1:
        update_list += [int(i)]

    output = ""
    index_number = 0 
    len_update_list = len(update_list)
    
    for j in range(len_update_list):
        if update_list[j] == check_number:
            output = ("Element found at " + str(j) + " " + "index of the list.") 
            break 
        else:
            output = "Element not found in the given List"
    return output

list_num = input("Enter the list of numbers: ")
check_number = int(input("Enter the number you want to check in the list: "))
result = linear_search(list_num, check_number)
print(result)
